{% extends "layout.html" %}

{% block title %}Muokkaa vaatetietoa{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
<h3>Muokkaa vaatetietoa</h3>

<form action="/update_item" method="post">
  <p>
    <label for="title">Vaate:</label> <br />
    <input type="text" name="title" id="title" value="{{ item.title }}" maxlength="60" required />
  </p>
  <p>
    <label for="size">Koko:</label> <br />
    <input type="text" name="size" id="size" size="8" value="{{ item.size }}" maxlength="50" required /> cm
  </p>
  <p>
    <label for="color">Väri:</label> <br />
    <input type="text" name="color" id="color" value="{{ item.color }}" maxlength="100" required/>
  </p>

  {% for class in all_classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    <select name="classes" id="class{{ class}}">
      <option value="">(valitse)</option>
    {% for option in all_classes[class] %}
      {% if classes[class] == option %}
      <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </p>
  {% endfor %}

  <p>
    <label for="description">Kuvaus:</label> <br />
    <textarea name="description" id="description" rows="4" cols="60" maxlength="1000" required>{{ item.description }}</textarea>
  </p>

  <input type="hidden" name="item_id" value="{{ item.id }}" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Päivitä" />
  <input type="submit" name="back" value="Palaa takaisin">
</form>
{% endblock %}
