<!DOCTYPE html>
<html>

<head>
  <title>Etsi vaate</title>
</head>

<body>
  <h1>Etsi vaate</h1>

  <form action="/find_item" method="get">
    <p>
        Hakusana: <input type="text" name="query" value="{{ query }}">
    </p>
    <input type="submit" value="Etsi">
  </form>

  <p>
    <a href="/">Takaisin etusivulle</a>

  {% if query %}
  <h2>Tulokset</h2>

  <u1>
    {% for item in results %}
    <li><a href="/item/{{  item.id  }}">{{ item.title }}</a></li>
    {% endfor %}
  </u1>
  {% endif%}
</body>

</html>
