<!DOCTYPE html>
<html>

<head>
  <title>Vaatevarasto</title>
</head>

<body>
  <h1>Vaatevarasto</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }} ja id-numerosi on {{ session.user_id }}
  </p>
  {% endif %}

  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
    <a href="/logout">Kirjaudu ulos</a>
  </p>

  <p>
    <a href="/new_item">Uusi vaate</a>
    <a href="/find_item">Etsi vaate</a>
  </p>

  <h2>Lisätyt vaatteet</h2>

  <ul>
    {% for item in items %}
    <li><a href="/item/{{  item.id  }}">{{ item.title }} {{ item.size }}</a></li>
    {% endfor %}
  </ul>

</body>

</html>
