<!DOCTYPE html>
<html>

<head>
  <title>Vaatevarasto</title>
</head>

<body>
  <h1>Vaatejemma</h1>

  {% if session.user_id %}
  <p>
    Olet kirjautunut palveluun nimellä {{ session.username }}.
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a>
  </p>
  {% endif %}

  <h2>Varastossa olevat vaatteet</h2>

  <p>
    <a href="/find_item">Etsi vaate</a>
  {% if session.username %}
    | <a href="/new_item"> Lisää uusi vaate</a>
  </p>
  {% endif %}

  <ul>
    {% for item in items %}
    <li><a href="/item/{{  item.id  }}">{{ item.title }} {{ item.size }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>
