{% extends "layout.html" %}

{% block title %}Uusi vaate{% endblock %}

{% block content %}
<h2>Uusi vaate</h2>

<form action="/create_item" method="post">
  <p>
    <label for="title">Vaate:</label> <br />
    <input type="text" name="title" id="title" maxlength="60" required />
  </p>
  <p>
    <label for="size">Koko:</label> <br />
    <input type="text" name="size" id="size" size="8" maxlength="50" required /> cm
  </p>
  <p>
    <label for="color">Väri:</label> <br />
    <input type="text" name="color" id="color" maxlength="100" required />
  </p>

  {% for class in classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}

  <p>
    <label for="description">Kuvaus:</label> <br />
    <textarea name="description" id="description" rows="4" cols="60" maxlength="1000" required ></textarea>
  </p>

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo ilmoitus" />
</form>
{% endblock %}
