<!DOCTYPE html>
<html>

<head>
  <title>Uusi vaate</title>
</head>

<body>
  <h1>Uusi ilmoitus</h1>
  <form action="/create_item" method="post">
    <p>
      Vaate: <br />
      <input type="text" name="title" maxlength="60" required />
    </p>
    <p>
      Koko: <br />
      <input type="text" name="size" size="8" maxlength="50" required /> cm
    </p>
    <p>
      Väri: <br />
      <input type="text" name="color" maxlength="100" required />
    </p>
    <p>
      Kausi: <br />
      <select name="season">
        <option value="">(valitse)</option>
        <option value="kesävaate">kesä</option>
        <option value="vk-vaate">kevät/syksy</option>
        <option value="talvivaate">talvi</option>
      </select>
    </p>
    <p>
      Kunto: <br />
      <select name="condition">
        <option value="">(valitse)</option>
        <option value="uusi">uusi</option>
        <option value="hyvä">hyvä</option>
        <option value="kohtalainen">kohtalainen</option>
        <option value="heikko">heikko</option>
      </select>
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="4" cols="60" maxlength="1000" required ></textarea>
    </p>
    <input type="submit" value="Luo ilmoitus" />
  </form>
</body>

</html>
