{% extends "layout.html" %}

{% block title %}Luo tunnus{% endblock %}

{% block content %}
<h2>Luo tunnus</h2>

<form action="/create" method="post">
  <p>
    <label for="username">Tunnus</label>: <br />
    <input type="text" name="username" id="username" required pattern="[a-zA-Z0-9]+" title="Käytä vain kirjaimia ja numeroita." />
  </p>
  <p>
    <label for="password1">Salasana</label>: <br />
    <input type="password" name="password1" id="password1" required minlength="8" title="Salasanan on oltava vähintään 8 merkkiä pitkä." />
  </p>
  <p>
    <label for="password2">Salasana uudestaan</label>: <br />
    <input type="password" name="password2" id="password2" required minlength="8" title="Salasanan on oltava vähintään 8 merkkiä pitkä." />
  </p>
  <input type="submit" value="Luo tunnus" />
</form>
{% endblock %}
