<!DOCTYPE html>
<html>

<head>
  <title>Vaatetiedon poisto</title>
</head>

<body>
  <h1>Vaatetiedon poisto</h1>
  <h2>{{ item.title }}</h2>
  <p>Haluatko varmasti poistaa tämän ilmoituksen?</p>
  <form action="/remove_item/{{ item.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="remove" value="Poista ilmoitus">
  <input type="submit" name="back" value="Palaa takaisin">
</form>
<p>
  <a href="/item/{{ item.id }}">Takaisin ilmoitukseen</a>
</p>

  </form>
</body>

</html>
