<!DOCTYPE html>
<html>

<head>
  <title>{{ item.title }}</title>
</head>

<body>
    <h1>{{ item.title }}</h1>
    {% if session.user_id == item.user_id %}
    <p>
      <a href="/edit_item/{{ item.id }}">Muokkaa</a>
    </p>
    {% endif %}
    <p>
      koko: {{ item.size }} cm
    </p>
    <p>
      väri: {{ item.color }}
    </p>
    <p>
      kuvaus: {{ item.description }}
    </p>
    <p>
      lisännyt: {{ item.username }}
    </p>
    <p>
      <a href="/">Takaisin etusivulle</a>
    </p>
</body>

</html>
